<footer class="site-footer">

  <div class="media-links">
    <a href="http://www.facebook.com">
      <img src="/images/icons8-facebook-24.png" alt="facebook" width="30px" height="30px">
    </a>
  
   
     <a href="http://www.Instagram.com">
      <img src="/images/icons8-instagram-24.png" alt="Instagram" width="30px" height="30px">
    </a>
  
  
    <a href="http://www.linkedin.com">
      <img src="/images/icons8-linkedin-24.png" alt="Linkedin" width="30px" height="30px">
    </a>
  </div>
  <div class="copyright">
    <div class="content-wrap">
      <p>&copy;2023 | Joe Ingram</p>
    </div>
  </div>
</footer>
