<header class="site-header">
  <img
    class="main-logo"
    src="/images/uxjourneylogo.png"
    href="https://myuxjourney.github.io/"
    alt="UX Journey Logo"
  />
  <nav class="navigation">
    <a class="nav-anchor" href="https://myuxjourney.github.io/"
      >My UX Journey</a
    >
    <a class="nav-anchor" href="https://myuxjourney.github.io/about/">About</a>
    <a class="nav-anchor" href="https://myuxjourney.github.io/blog/">Blog</a>
    <a class="nav-anchor" href="https://myuxjourney.github.io/contact/"
      >Contact Me</a
    >
  </nav>
</header>
