<header class="site-header">
  <img
    src="/images/uxjourneylogo.png"
    id="mylogo"
    href="https://myuxjourney.github.io/"
    alt="UX Journey Logo"
    style="
      max-height: 68vw;
      max-width: 300px;
      padding-left: 30px;
      padding-top: 2%;
    "
  />
  <nav class="navigation">
    <a class="nav-anchor" href="https://myuxjourney.github.io/"
      >My UX Journey</a
    >
    <a class="nav-anchor" href="https://myuxjourney.github.io/about/">About</a>
    <a class="nav-anchor" href="https://myuxjourney.github.io/blog/">Blog</a>
  </nav>
</header>
