/* Block: body */
body {
  background-color: rgb(21, 21, 21);
  color: #f0f0f0;
  padding: 50 px;
  width: 100 dvw;
}

/* Block: section */
section {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  font-family: "Raleway", sans-serif;
  text-align: center;
}

/* Block: introduction-text */
.introduction-text {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1% 10% 10% 10%;
  text-align: left;
}

@media (min-width: 600px) {
  .introduction-text {
    font-family: "Raleway" sans-serif;
    font-size: 2em;
    font-weight: 700;
  }
}

/* Block: one */
.one {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

/* Block: two */
.two {
  background-color: #f3f3f3;
  color: rgb(21, 21, 21);
  display: grid;
  font-size: 1.5em;
  grid-template-columns: 1fr 1fr, 1fr;
  width: 100%;
}

/* Block: three */
.three {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  font-size: 2em;
  font-weight: 700;
  margin-top: 0px;
  text-align: center;
}

/* Block: fourth */
.fourth {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0px;
  padding: 10%;
  text-align: center;
}

/* Block: navigation */
.navigation {
  display: flex;
  font-family: "Raleway" sans-serif;
  font-size: small;
  font-weight: 200;
  justify-content: center;
  padding: 5px;
}

@media (min-width: 600px) {
  .navigation {
    font-family: "Raleway" sans-serif;
    font-size: larger;
    font-weight: 500;
  }
}

@media (min-width: 400px) {
  .navigation {
    font-family: "Raleway" sans-serif;
    font-size: larger;
    font-weight: 500;
  }
}

/* Block: nav-anchor */
.nav-anchor {
  border-bottom: 2px solid transparent;
  color: #000;
  margin-right: 30px;
  padding-bottom: 2px;
  text-decoration: none;
  transition: border-color 0.3s ease;
}

/* Modifier: nav-anchor:hover */
.nav-anchor:hover {
  border-color: rgb(21, 21, 21);
  color: #ffa700;
}

/* Modifier: hoverme:hover */
.hoverme:hover {
  content: url("/images/HoverHome.png");
  box-shadow: none;
}

/* Block: post-content */
.post-content {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  font-family: "Raleway" sans-serif;
  font-size: larger;
  line-height: 2em;
  padding-bottom: 35px;
}

/* Block: post-title */
.post-title {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  text-align: left;
}

/* Block: blog-content */
.blog-content {
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  font-weight: 600;
  padding-left: 20%;
  padding-right: 20%;
}

/* Block: main-image-wrapper */
.main-image-wrapper {
  background-color: transparent;
  box-shadow: none;
  height: auto;
}

/* Modifier: about-img:hover */
.about-img:hover {
  content: url("/images/myphoto_orange.png");
}

/* Fix for image hover flicker - found solution at https://www.youtube.com/watch?v=c6CZuywLZao */
body:after {
  content: url("/images/OutlineHome.png") url("/images/HoverHome.png")
    url("/images/myphoto.png") url("/images/myphoto_orange.png");
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
  z-index: -1;
}

/* Block: h4-blog */
.h4-blog {
  text-align: center;
}

.image-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.image-container {
  position: relative;
}

.image {
  height: auto;
  position: relative;
  transition: transform 0.3s ease, filter 0.3s ease;
  width: 100%;
  z-index: 2;
}

.image:hover {
  transform: scale(1.4);
  filter: blur(0);
}

.image-grid:hover .image:not(:hover) {
  filter: blur(10px);
  z-index: 1;
}

.image-grid:hover .image:not(:hover)::before {
  content: "";
  background-color: rgba(255, 166, 0, 0.8);
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 3;
}

@media (max-width: 800px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main-logo {
  max-width: 20%;
  padding-left: 30px;
  padding-top: 2%;
}

@media (min-width: 400px) {
  .main-logo {
    padding-left: 15px;
    padding-top: 15px;
    width: 300px;
  }
}

.three h4 {
  font-size: 2em;
}

.blog-list b {
  color: #ffa700;
}

.blog-list li {
  font-size: smaller;
  font-weight: 400;
}
