body {
  background-color: rgb(33, 33, 33);
  padding: 0;
  margin: 0;
}

section{
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.one {
  background-color: rgb(33, 33, 33);
  color: #f3f3f3;
  padding: 10%;
  text-align: center;
  font-size: calc(5px + 2vw);
  font-weight: 400;
}

.two{
  background-color: #f3f3f3;
  color: rgb(33, 33, 33);
  padding: 10%;
  text-align: center;
  font-size: calc(5px + 2vw);
  font-weight: 400;
}

.three{
  background-color: rgb(33, 33, 33);
  color: #f3f3f3;
  padding: 10%;
  text-align: center;
  font-size: calc(5px + 2vw);
  font-weight: 400;
}

.fourth{
  background-color: #f3f3f3;
  color: rgb(33, 33, 33);
  padding: 10%;
  text-align: center;

}

.navigation {
  display: grid;
  font-size: large;
  font-family: 'Raleway';
  font-weight: 500;
  grid-template-columns: 1fr;
  line-height: 175%;
  padding: 5px;
  text-align: right;

}

.responsive { 
  width: 100%;
  max-width:500px;
  height: auto;
}

#hoverme:hover {
  content: url("/images/HoverHome.png");
} 


.post-content {
  background-color: rgb(33, 33, 33);
  color: #f3f3f3;
  padding-top: 35px;
  padding-bottom: 35px;
}

.post-title {
  background-color: rgb(33, 33, 33);
  color: #f3f3f3;

}
  

h1{
text-align: left;
}