* {
width: 100%;
}

// this could be improved 
body {
  
}


.example {
  text-align:center;
  background: #ffffff;
  min-height: 200px;
  max-width: 1200px;
}

section{
  height: 100vh;
}

.one {
  background-color: rgb(36,164,138);
}

.two{
  background-color: rgb(43, 91, 212);
}

.three{
  background-color: #ff53d1;
}

.fourth{
  background-color: #ffbced;
}

// scss section 1