footer.site-footer {
  align-items: center;
  background-color: rgb(21, 21, 21);
  color: #f3f3f3;
  display: grid;
  font-family: "Raleway";
  padding: 35px;
  text-align: center;
  justify-content: center;
}

.media-links {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
