header.site-header {
  background: #ffffff;
  color: rgb(255, 255, 255);
  .content-wrap {
    display: flex;
    text-align: center;
    font-size:large;

    a {
      color: rgb(0, 0, 0);
    }
  }
}

  


