header.site-header {
  background: #ffffff;
  color: rgb(40, 40, 40);
  .content-wrap {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Raleway';
    font-size: x-large;
    a {
      color: rgb(63, 63, 63);
    }
  }
}


