/* Block: main-content */
.main-content {
  margin-bottom: 75px;
  margin-top: 5%;
}

/* Block: content-wrap */
.content-wrap {
  align-content: center;
  margin: 0 auto;
  max-width: 150vw;
}

/* Block: copyright */
.copyright {
  align-content: center;
  display: grid;
  font-size: 1.125em;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  padding-top: 5px;
  width: 150vw;
}

/* Element: blog-list */
.blog-list {
  font-family: "Raleway" sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  list-style-type: none;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 30px;
  text-align: left;
  text-decoration: none;
}

/* Element: paragraph */
p {
  color: #f5f5f5;
  font-family: Raleway;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

/* Element: post */
.post {
  text-align: center;
}

/* Element: thumbnail */
.thumbnail {
  cursor: pointer;
  height: auto;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

/* Modifier: thumbnail:hover */
.thumbnail:hover {
  transform: scale(1.1);
}

/* Element: expand-checkbox */
.expand-checkbox {
  display: none;
}

/* Block: expanded-container */
.expanded-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Element: expanded-image */
.expanded-image {
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

/* Modifier: expand-checkbox:checked */
.expand-checkbox:checked + .expanded-container {
  display: flex;
}

/* Element: close-label */
.close-label {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 15px;
}

/* Element: expand-label */
.expand-label {
  position: relative;
}

/* Modifier: expand-label:hover */
.expand-label:hover {
  cursor: zoom-in;
}

/* Modifier: expand-checkbox:checked + .expanded-container .expanded-image */
.expand-checkbox:checked + .expanded-container .expanded-image {
  transform: scale(1);
}

// blog page -title - hidden from showing from page
// .post-header {
//   font-size: x-large;
//   color: white;
// }

// li {
//   list-style-type: none;
// }

li {
  list-style-type: none;
  position: relative;
}

.nav-anchor a {
  color: #ffa700;
}

a:hover {
  color: #000;
}

.nav-anchor a:visited {
  color: #ffa700;
}

.nav-anchor b {
  color: #ffa700;
}

.size-small {
  height: 20%;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 20%;
}
@media screen and (min-width: 600px) {
  .size-small img {
    height: 65%;
    width: auto;
  }
}

.wide-img {
  height: 40%;
  width: 40%;
}
@media screen and (min-width: 600px) {
  .wide-img img {
    height: 75%;
    width: auto;
  }
}

// .margin-left-right{
//   margin-left: 20%;
//   margin-right: 20%;
// }

.blog-content p {
  color: #f5f5f5;
  margin: 0 20% 10px 20%;
}

.blog-content img {
  padding-bottom: 20px;
}

.main-margin {
  color: #f0f0f0;
  margin: 0 15% 0 15%;
}

.post-content a {
  color: #ffa700;
}

.blog-content-wider {
  color: #f5f5f5;
  font-weight: 600;
  margin: 0 23% 10px 23%;
}

.size-medium {
  height: auto;
  padding-bottom: 40px;
  padding-top: px;
  width: 75%;
}
@media (min-width: 600px) {
  .size-medium img {
    height: 85%;
    width: 85%;
  }
}

.box-border-fun {
  border: 5px solid;
  border-color: crimson;
  padding-bottom: 10px;
}

/* About Me Page Slide Animation */
.slide-right-animation {
  animation: slide-right 1.5s ease-in-out forwards; /* Adjust animation name, timing, etc */
}

@keyframes slide-right {
  0% {
    opacity: 0; /* Starts invisible */
    transform: translateX(-150%); /* Starts off-screen to the left */
  }
  100% {
    opacity: 1; /* Becomes fully visible */
    transform: translateX(0); /* Ends in the correct position */
  }
}

/*  Image Gallery */

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }
}

.gallery-title {
  text-align: center; /* Changed the 'center' styling to proper CSS */
}
