.main-content {
  margin-top: 5%;
}

.content-wrap {
  align-content: center;
  margin: 0 auto;
}

// blog page -title - hidden from showing from page
// .post-header {
//   font-size: x-large;
//   color: white;
// }

li {
  list-style-type: none;
}

a {
  color: #ffa700;
}

a:hover {
  color: #ffa700;
}

a:visited {
  color: #ffa700;
}

b {
  color: #ffa700;
}

.blog-list {
  list-style-type: none;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
  line-height: 3em;
}
// blog page -title - hidden from showing from page
// .post-header {
//   font-size: x-large;
//   color: white;
// }
