/* Block: main-content */
.main-content {
  margin-bottom: 75px;
  margin-top: 5%;
}

/* Block: content-wrap */
.content-wrap {
  align-content: center;
  margin: 0 auto;
  max-width: 150vw;
}

/* Block: copyright */
.copyright {
  align-content: center;
  display: grid;
  font-size: x-large;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  padding-top: 5px;
  width: 150vw;
}

/* Element: blog-list */
.blog-list {
  font-family: "Raleway" sans-serif;
  font-size: larger;
  line-height: 2em;
  list-style-type: none;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 30px;
  text-align: left;
  text-decoration: none;
}

/* Element: paragraph */
p {
  color: #f0f0f0;
  font-family: Raleway;
  font-size: large;
  line-height: 1.5em;
  margin-bottom: 10px;
  text-align: left;
}

/* Element: post */
.post {
  text-align: center;
}

/* Element: thumbnail */
.thumbnail {
  cursor: pointer;
  height: auto;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

/* Modifier: thumbnail:hover */
.thumbnail:hover {
  transform: scale(1.1);
}

/* Element: expand-checkbox */
.expand-checkbox {
  display: none;
}

/* Block: expanded-container */
.expanded-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Element: expanded-image */
.expanded-image {
  max-height: 100%;
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

/* Modifier: expand-checkbox:checked */
.expand-checkbox:checked + .expanded-container {
  display: flex;
}

/* Element: close-label */
.close-label {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 15px;
}

/* Element: expand-label */
.expand-label {
  position: relative;
}

/* Modifier: expand-label:hover */
.expand-label:hover {
  cursor: zoom-in;
}

/* Modifier: expand-checkbox:checked + .expanded-container .expanded-image */
.expand-checkbox:checked + .expanded-container .expanded-image {
  transform: scale(1);
}

// blog page -title - hidden from showing from page
// .post-header {
//   font-size: x-large;
//   color: white;
// }

// li {
//   list-style-type: none;
// }

li {
  list-style-type: none;
  position: relative;
}

.nav-anchor a {
  color: #ffa700;
}

a:hover {
  color: #000;
}

.nav-anchor a:visited {
  color: #ffa700;
}

.nav-anchor b {
  color: #ffa700;
}

.size-small {
  height: 20%;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 20%;
}
@media screen and (min-width: 600px) {
  .size-small img {
    height: 65%;
    width: auto;
  }
}

.wide-img {
  height: 40%;
  width: 40%;
}
@media screen and (min-width: 600px) {
  .wide-img img {
    height: 75%;
    width: auto;
  }
}

// .margin-left-right{
//   margin-left: 20%;
//   margin-right: 20%;
// }

.blog-content p {
  color: #d5d5d5;
  margin: 0 20% 10px 20%;
}

.blog-content img {
  padding-bottom: 20px;
}

.main-margin {
  color: #f0f0f0;
  margin: 0 15% 0 15%;
}

.post-content a {
  color: #ffa700;
}

.blog-content-wider {
  color: #e4e4e4;
  font-weight: 600;
  margin: 0 23% 10px 23%;
}

.size-medium {
  height: auto;
  padding-bottom: 40px;
  padding-top: px;
  width: 75%;
}
@media (min-width: 600px) {
  .size-medium img {
    height: 85%;
    width: 85%;
  }
}

.box-border-fun {
  border: 5px solid;
  border-color: crimson;
  padding-bottom: 10px;
  color: aqua;
}
