.send-message-but{
    align-items: center;
    background-clip: padding-box;
    background-color: #ffa700;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(255, 255, 255, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .send-message-but:hover,
  .send-message-but:focus {
    background-color: #ffa700;
    box-shadow: rgba(252, 252, 252, 0.1) 0 6px 12px;
  }
  
  .send-message-but:hover {
    transform: translateY(-1px);
  }
  
  .send-message-but:active {
    background-color: #ffa700;
    box-shadow: rgba(255, 255, 255, 0.06) 0 2px 4px;
    transform: translateY(0);
  }