<div class="module__normal">
  <div class="content">
    <h2 class="module-title">.module__normal</h2>
    <section class="panel facets__large">
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
      <div class="facet">Facet</div>
    </section>
  </div>
</div>
